{% extends 'bango/base.html' %}
{% block header %}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">  
{% endblock %}
{% block title %}
   データファイルアップロード 
{% endblock %}

{% block content %}
<h4>
背番号リスト一括登録
</h4>
<p>
ファイルアップロードで一括登録できます。 <br>
ファイル名は自由です。(例: upload.csv など) <br>
ファイルの内容は: <br>
[コード(規格)],[仕入先コード] (カンマ「,」 区切りです。)<br>
(例: 013CH232W-03C SP/223, 190001) <br>
で作成してください。<br>
背番号は、自動で採番します。 <br>
(仕入先コード未登録の場合エラーになります。)<br>
(コードが登録済みの場合、登録しません。)
</p>
<p>
＊下のボタンでファイル選択して、送信してください。
</p>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form }}
    <div class="form-group">
        <button type="submit">送信</button>
    </div>
</form>
{% endblock %}
